.container{
    width: 700px;
    height: 700px;
    background-color: bisque;
    display:flex;
    justify-content:left;
    align-items: center;
    
}

.img img{
    width: 300px;
    height: 500px;
    
}